<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     <div class="main-container">
        <div class="profile-detail">
            <div class="profile-pic"><p class="pic-name">Jane Doe</p></div>

            <div class="profile-cont">
                <li><span><i class="fa-solid fa-briefcase fa-lg" style="color: #2f8358;"></i></span>Designer</li>
                <li ><span><i class="fa-solid fa-house-chimney fa-lg" style="color: #2f8358;"></i></span>London,UK</li>
                <li><span><i class="fa-solid fa-envelope fa-lg" style="color: #2f8358;"></i></span>exy@gmail.com</li>
                <li><span><i class="fa-solid fa-phone fa-lg" style="color: #2f8358;"></i></span>12345789</li>
                <hr class="small-line">
                <h3><span><i class="fa-solid fa-asterisk fa-lg" style="color: #2f8358;"></i></span>Skills</h3>
                <p class="t-green"> Adobe Photoshop</p>
                <input type="range" name="" id="" class="range">
               

            </div>
         
        </div>
        <div class="profile-desc">
            
           
                <h1><i class="fa-solid fa-suitcase fa-lg" style="color: #2f8358;"></i>Work Experience</h1>
                <h3>Front End Developer / w3schools.com</h3>
                <p class="t-green"><span><i class="fa-solid fa-calendar-days fa-lg" style="color: #2f8358;"></i></span> Jan 2015  <span> - <button>Current</button></span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum possimus maxime, consectetur nisi quidem fugiat pariat klsjdl jdlkw jklu rnk sknklns kl nobis?</p>
          
        
        <hr>
        
            
            <h3>Web Developer / w3schools.com</h3>
            <p class="t-green"><span><i class="fa-solid fa-calendar-days fa-lg" style="color: #2f8358;"></i></span> Jan 2015  - Dec 2014</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum possimus maxime, consectetur nisi quidem fugiat pariat klsjdl jdlkw jklu rnk sknklns kl nobis?</p>
        
        <hr>
        
            <h3>Graphic Designer / w3schools.com</h3>
            <p class="t-green"><i class="fa-solid fa-calendar-days fa-lg" style="color: #2f8358;"></i> Jan 2010  - Mar 2012</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum possimus maxime, consectetur nisi quidem fugiat pariat klsjdl jdlkw jklu rnk sknklns kl nobis?</p>
        
     </div>
</body>
</html>